* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 1200px;
	padding-left: 100px;
}
h1 {
	width: 450px;
	text-align: center;
	margin: 2em 0;
}
.game_board {
	width: 450px;
	height: 450px;
	background-image: url("../IMG/paper.jpg");
}
.game_row {
	display: flex;
	height: 150px;
	width: 100%;
}
.game_cell {
	height: 100%;
	width: 150px;
	border: darkblue 2px solid;
	cursor: pointer;
}